<html>
<head>
    {% if title %}
    <title> {{ title }} - DreamDiary</title>
    {% else %}
    <title> Добро пожаловать в DreamDiary</title>
    {% endif %}
</head>
    <body>
    <div> DreamDiary:
        <a href="{{ url_for('index') }}">Домашняя</a>
        <a href="{{ url_for('login') }}">Войти</a>
    </div>
    <hr>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    </body>
</html>